# Standard scaling

In [17]:
import pandas as pd
from sklearn.preprocessing import StandardScaler, MinMaxScaler, MaxAbsScaler

In [18]:

# make an example dataset
df = {
    'age' : [25,30, 35, 40, 45, 1000000000],
    'height' : [165,170,175,180,185, 18600000000],
    'weight' : [55,60,65,70,75, 1000000000]
}

# convert this data to pandas dataframe
df = pd.DataFrame(df)
df.head(6)

          age       height      weight
0          25          165          55
1          30          170          60
2          35          175          65
3          40          180          70
4          45          185          75
5  1000000000  18600000000  1000000000

In [19]:
# import the scalar
scalar = StandardScaler()

# fit the scalar on data
scaled_df = scalar.fit_transform(df)
scaled_df

array([[-0.44721362, -0.4472136 , -0.44721362],
       [-0.44721361, -0.4472136 , -0.44721361],
       [-0.4472136 , -0.4472136 , -0.4472136 ],
       [-0.44721358, -0.44721359, -0.44721358],
       [-0.44721357, -0.44721359, -0.44721357],
       [ 2.23606798,  2.23606798,  2.23606798]])

# Minimum Maximum Scalar

In [20]:
# import the scalar
scalar = MinMaxScaler()

# fit the scalar on data
scaled_df = scalar.fit_transform(df)
scaled_df
# convert this data into a pandas dataframe
scaled_df = pd.DataFrame(scaled_df, columns = df.columns)
scaled_df.head(6)

            age        height        weight
0  0.000000e+00  0.000000e+00  0.000000e+00
1  5.000000e-09  2.688172e-10  5.000000e-09
2  1.000000e-08  5.376344e-10  1.000000e-08
3  1.500000e-08  8.064516e-10  1.500000e-08
4  2.000000e-08  1.075269e-09  2.000000e-08
5  1.000000e+00  1.000000e+00  1.000000e+00

# Maximum Absolute Scalar

In [21]:
# import the scalar
scalar = MaxAbsScaler()

# fit the scalar on data
scaled_df = scalar.fit_transform(df)
scaled_df
# convert this data into a pandas dataframe
scaled_df = pd.DataFrame(scaled_df, columns = df.columns)
scaled_df.head(6)

            age        height        weight
0  2.500000e-08  8.870968e-09  5.500000e-08
1  3.000000e-08  9.139785e-09  6.000000e-08
2  3.500000e-08  9.408602e-09  6.500000e-08
3  4.000000e-08  9.677419e-09  7.000000e-08
4  4.500000e-08  9.946237e-09  7.500000e-08
5  1.000000e+00  1.000000e+00  1.000000e+00