In [5]:
import pandas as pd

In [6]:
data = pd.Series([1,2,3,4])

In [7]:
data

0    1
1    2
2    3
3    4
dtype: int64

In [8]:
import pandas as pd
pd.DataFrame({'A': [1, 2, 3]})

   A
0  1
1  2
2  3

In [9]:
a = 1
print(a)

1

In [10]:
import numpy as np

import pandas as pd

In [12]:
s = pd.Series([1, 3, 5, np.nan , np.nan , 6, 8])

In [13]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    NaN
5    6.0
6    8.0
dtype: float64

In [14]:
dates = pd.date_range("20130101", periods=6)

In [15]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [18]:
dates

dtype('<M8[ns]')

In [4]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [5]:
X = df.drop('target', axis=1)
y = df['target']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

NameError: name 'df' is not defined

In [6]:
# new code
import numpy as np

import pandas as pd

In [8]:
dates = pd.date_range("20130101", periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [9]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))

In [10]:
df

                   A         B         C         D
2013-01-01  0.808301 -0.857590 -1.531519  0.491896
2013-01-02 -0.537281 -0.779255 -1.173827 -0.253214
2013-01-03 -1.376544  0.225881 -0.260108  0.020599
2013-01-04  1.062091 -1.121639  0.586316  0.575140
2013-01-05  0.979928 -0.989293 -0.084031 -0.856011
2013-01-06  1.596707 -0.748770  0.259180 -0.558736

In [11]:
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
)


df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [12]:
a = np.floor(10 * rg.random((3, 4)))
a
array([[3., 7., 3., 4.],
       [1., 4., 2., 2.],
       [7., 2., 4., 9.]])
a.shape

NameError: name 'rg' is not defined

In [13]:
conda install numpy

error: incomplete escape \U at position 28

In [14]:
df = pd.DataFrame(np.random.randn(10, 4))
df

          0         1         2         3
0 -1.173771 -1.354248  0.215319 -0.253015
1  0.470827 -2.023963 -0.440051 -0.482021
2 -0.138198 -1.620522  1.913946  0.000549
3  2.457387 -0.427207  2.322353  0.292938
4 -0.275960  0.485935 -1.527339 -0.610140
5  1.469269 -1.094836  0.135803  0.326586
6  2.367250 -0.427005  1.310065 -0.240404
7  0.242780  0.097317  0.951925  0.563124
8  1.384506 -0.136450  0.144998  0.414730
9 -0.300766 -1.818718  1.437709  0.676349

In [16]:
dates = pd.date_range("20240301", periods=6)

dates

DatetimeIndex(['2024-03-01', '2024-03-02', '2024-03-03', '2024-03-04',
               '2024-03-05', '2024-03-06'],
              dtype='datetime64[ns]', freq='D')

In [17]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))

df

                   A         B         C         D
2024-03-01  0.477651 -0.609114 -2.223049  0.846821
2024-03-02 -0.308984 -0.437688  1.620203 -1.328368
2024-03-03 -0.503105 -0.292112  1.046140  0.707735
2024-03-04 -1.659661 -0.384254  0.617758 -0.440451
2024-03-05 -1.178300 -0.021949  0.916140  2.247742
2024-03-06 -0.083508 -1.119461  0.616253  0.243858

In [1]:
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
)


df2

NameError: name 'pd' is not defined

In [2]:
In [1]: import numpy as np

In [2]: import pandas as pd

In [10]:
df = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
)


df

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [4]:
df2.dtypes

A          float64
B    datetime64[s]
C          float32
D            int32
E         category
F           object
dtype: object

In [6]:
df2.index

Index([0, 1, 2, 3], dtype='int64')

In [8]:
df2.to_numpy()

array([[1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo']],
      dtype=object)

In [11]:
df.T

,0,1,2,3
A,1.0,1.0,1.0,1.0
B,2013-01-02 00:00:00,2013-01-02 00:00:00,2013-01-02 00:00:00,2013-01-02 00:00:00
C,1.0,1.0,1.0,1.0
D,3,3,3,3
E,test,train,test,train
F,foo,foo,foo,foo

In [14]:
df.sort_index(axis=1, ascending=False)

     F      E  D    C          B    A
0  foo   test  3  1.0 2013-01-02  1.0
1  foo  train  3  1.0 2013-01-02  1.0
2  foo   test  3  1.0 2013-01-02  1.0
3  foo  train  3  1.0 2013-01-02  1.0

In [15]:
df.sort_index(axis=1, ascending=True)

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [16]:
df.sort_index(axis=0, ascending=False)

     A          B    C  D      E    F
3  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
0  1.0 2013-01-02  1.0  3   test  foo

In [17]:
df.sort_values(by="B")

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [19]:
df.sort_values(by="E")

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
2  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [21]:
df["A"]  # gives full column as series

0    1.0
1    1.0
2    1.0
3    1.0
Name: A, dtype: float64

In [22]:
df["20130102":"20130104"]

TypeError: cannot do slice indexing on Index with these indexers [20130102] of type str

In [24]:
dates = pd.date_range("20130101", periods=6)
dates
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))

In [25]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [26]:
df

                   A         B         C         D
2013-01-01  2.124844 -0.360087 -0.716013  1.077693
2013-01-02  1.446399  0.351900 -0.541335  1.957217
2013-01-03  0.656504 -0.494210 -0.646665  1.729400
2013-01-04  1.233557 -1.089136 -0.540547  1.758216
2013-01-05  0.342949 -0.035666  1.074057  0.215645
2013-01-06 -1.485529 -1.111423 -1.960021  0.737059

In [27]:
df.loc[dates[0]]

A    2.124844
B   -0.360087
C   -0.716013
D    1.077693
Name: 2013-01-01 00:00:00, dtype: float64

In [32]:
df.loc[["2013-01-03", "2013-01-02"], ["B", "C"]]

                  B         C
2013-01-03 -0.49421 -0.646665
2013-01-02  0.35190 -0.541335

In [35]:
df.loc["20130102":"20130104", ["A", "B"]]

                   A         B
2013-01-02  1.446399  0.351900
2013-01-03  0.656504 -0.494210
2013-01-04  1.233557 -1.089136

In [36]:
df.iloc[3]

A    1.233557
B   -1.089136
C   -0.540547
D    1.758216
Name: 2013-01-04 00:00:00, dtype: float64

In [37]:
df.iloc[3:5, 0:2]

                   A         B
2013-01-04  1.233557 -1.089136
2013-01-05  0.342949 -0.035666

In [38]:
df.iloc[[1, 2, 4], [0, 2]]

                   A         C
2013-01-02  1.446399 -0.541335
2013-01-03  0.656504 -0.646665
2013-01-05  0.342949  1.074057

In [39]:
df.iloc[1, 1]

0.35189983027034766